# Binaries and build artifacts
/target/
/bin/
/dist/

# Dependencies
/node_modules/
/vendor/

# IDE configurations
/.idea/
/.vscode/

# Environment variables
.env
.env.local

# Logs and temporary files
/logs/
/tmp/
